<button class="btn btn-success mb-3" (click)="showUserForm=!showUserForm">Add User</button>
<div class="card card-body mb-3" *ngIf="showUserForm">
    <h2>Add User</h2>
    <div class="row">

        <div class="col-md-6">
            <form (submit)="onSubmit($event)">

                <div class="form-group">

                    <label>First Name</label>
                    <input type="text" [(ngModel)]="user.firstName" class="form-control" name="firstName"
                        placeholder="Ex:John">

                    <label>Last Name</label>
                    <input type="text" [(ngModel)]="user.lastName" class="form-control" name="lastName"
                        placeholder="Ex:Doe">

                    <label>Nick Name</label>
                    <input type="text" [(ngModel)]="user.nickName" class="form-control" name="nickName"
                        placeholder="Ex:Jury">

                    <Label>Age:</Label>
                    <input type="number" [(ngModel)]="user.age" class="form-control" name="age" placeholder="Ex: 24">
                    <label>Address</label>

                    <input type="text" [(ngModel)]="user.userAddress.street" class="form-control" name="address"
                        placeholder="Ex: New Colony Art Street ,NY -7008">
                    <label>Date of joining</label>

                    <input type="date" class="form-control" name="dateOfJoining" placeholder="Ex: 03/12/2020">

                </div>

                <button (click)="addUser()" [disabled]="user.firstName == '' || user.lastName =='' || user.nickName==''"
                    class="btn btn-primary mb-3">SUBMIT</button>  

            </form>

        </div>
    </div>
</div>

<h3>Users</h3>
<ul class="list-unstyled" *ngIf="users?.length > 0">

    <li class="card card-body mb-2" *ngFor="let user of users" [style.border-color]="user.isActive ?'green':''">

        <div class="row">

            <div class="col-sm-12">
                
                <h6 [ngStyle]="currentStyles"> {{user.firstName | uppercase}} {{user.lastName | uppercase}}
                    {{user.nickName | uppercase}} <small><button (click)="user.hide = !user.hide"
                            class="btn btn-danger btn-sm"><i
                                [ngClass]="user.hide ? 'fa fa-plus' : 'fa fa-minus'"></i></button></small></h6>
                <ul class="list-group" *ngIf="!user.hide && user.age && user.userAddress">
                    <li class="list-group-item">Age: {{user.age}}</li>
                    <li class="list-group-item">Address: {{user.userAddress.street}} {{user.userAddress.city}}
                        {{user.userAddress.postalCode}}</li>

                    <li class="list-group-item">Date of joining:{{user.joinedDate | date:("longDate")}}</li>
                    <li class="list-group-item">Gender: {{user.gender}}</li>
                    <li class="list-group-item">Company Name: {{user.companyName}}</li>
                </ul>

            </div>
        </div>

    </li>
</ul>
<h4 *ngIf="users?.length == 0">No User Found</h4>